{erl_opts, [debug_info]}.

{project_plugins, [
     {myplug,
         {git, "git@github.com:tothlac/myplug.git", {branch, "master"}}}
         ]}.

{deps, [
        {parse_trans_problem_dep, {git, "git@github.com:tothlac/parse_trans_problem_dep.git", {branch, "master"}}}
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [parse_trans_problem_app2]}
]}.

{provider_hooks,[{pre,[
                       {compile,myplug}
                      ]},
                 {post,[
                       ]}]}.
